*{
    margin: 0;
    padding: 0;
}
.p{
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}
.container{
   text-align:center;
    background-color:black;
    height: 6vh;
    width: 100%;
    height: 100%;
    
}
.container ul li{
    display: inline-block;
    margin: 5px;
    padding: 10px;
}
.container ul li a{
    text-decoration: none;
    color: white;
}
.container ul li a:hover{
    border-bottom: 3px solid black;
    transition: .2s;
}
.container ul li a:active{
    color: red;
}


.container ul li a:active{
    color: greenyellow;
}
.all{
display: flex;
flex-wrap: wrap;
margin: 30px;
justify-content: space-evenly;
}
.field1{
    background-color: whitesmoke;
    height: 60vh;
    width: 24%;
    text-align: center;
}
.field2{
    background-color: wheat;
    height: 60vh;
    width: 24%;
    text-align: center;
}
.field3{
    background-color: wheat;
    height: 60vh;
    width: 24%;
    text-align: center;
}
.field4{
    background-color: whitesmoke;
    height: 60vh;
    width: 24%;
    text-align: center;
}